# ignore everything
*

# unignore everything that is not a directory
!*/

# unignore everything that has a file extension
!*.*

# ignore debug files
**.dSYM/
**.su
**.idb
**.pdb

# Shared objects (inc. Windows DLLs)
**.dll
**.so
**.so.*
**.dylib
